# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Windows build
windows/flutter/ephemeral/
build/windows/

# VS Code / IntelliJ
.vscode/
.idea/
*.iml

# Logs
*.log

# Environment
.env
.env.*